.container {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#login-alert {
    display: none;
}
.topo{
    width: 80%;
    height: 80px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    
}
.banner-titulo-content{
    width: 80%;
    margin: auto;
}
.banner-box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
nav li{

    display: inline-block;
    
    line-height: 50px;
}

nav li a {

    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;

}
nav li a:hover{
    background: cornflowerblue;
    color: cornsilk;
}
.banner {

    height: 550px;
    background-image: url(../_img/img1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner h2{
    font-size: 50px;
    color: #ffffff;
}
.banner h4{
    font-size: 20px;
    color: #ffffff;
}

.banner-titulo{
    height: 194px;

}

.banner-box{
    padding: 0;
}

.banner-pai {

    display: flex;
    justify-content: space-between;
}

.banner-filho-um,
.banner-filho-dois,
.banner-filho-tres {
    height: 200px;
    width: 33%;
    margin-left: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    
}
.banner-filho-um h4,
.banner-filho-dois h4,
.banner-filho-tres h4 {
    text-align: center;
    height: 50px;
}

.banner-filho-um{
    background-color: #39aae1;
    text-align: center;
}
.banner-filho-um input{
    background: none;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border-bottom: solid 1px #ffffff;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
}

.banner-filho-dois{
    background-color: #0079c7;
}

.banner-filho-dois li{
    height: 25px;
}


.banner-filho-tres {
    background-color: #2b4b99;
}
#click{
    text-decoration: none;
}